APP_VER_NAME=pipeline

POSTGRES_CONTAINER_NAME=postgres
POSTGRES_DB=${APP_VER_NAME}
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
POSTGRES_DATABASE_URL_ASYNC=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_USER}@${POSTGRES_CONTAINER_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}
POSTGRES_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_USER}@${POSTGRES_CONTAINER_NAME}:${POSTGRES_PORT}/${POSTGRES_DB}

AIRFLOW_PORT=8080
KAFKA_PORT=9092
MONGO_PORT=27017
PROMOTHEUS_PORT=9090
GRAFANA_PORT=3000
SPARK_1_PORT=7077
SPARK_2_PORT=8081
